.game-img {
    width: 200px;
    transition: transform 1s ease-in;
}
.console-img {
    width: 200px;
    transition: transform 1s ease-in;
}

.consoles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

